<template>
    <div class="container">
        <div class="row justify-content-center">
            <p class="text-center" v-if="loading">
                Loading...
            </p>
            <p class="text-center" v-if="!loading">
            <button class="btn btn-success" v-if="status == 0" @click="addFriend">Add Friend</button>
            <button class="btn btn-success" v-if="status == 'pending'" @click="acceptFriend">Accept Friend</button>
            <span class="text-success" v-if="status == 'waiting'">Waiting for a reponse</span>
            <span class="text-success" v-if="status == 'friends'">Friends</span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                status: '',
                loading: true
            }
        },
        mounted() {
            axios.get('/check_relationship_status/' + this.profile_user_id)
            .then((res) =>{
                console.log(res)
                this.status = res.data.status
                this.loading = false
            })
        },
        props: ['profile_user_id'],
        methods: {
            addFriend(){
                this.loading = true
                axios.get('/add_friend/' + this.profile_user_id)
                .then((res)=> {
                    console.log(res)
                    if(res.data == 1)
                        this.status = 'waiting'
                        // new Noty({
                        //     type: 'success',
                        //     layout: 'bottomLeft',
                        //     text: 'Freind request Sent.'
                        // })
                        this.loading = false
                })
            },
            acceptFriend(){

                this.loading = true
                axios.get('/accept_friend/' + this.profile_user_id)
                .then((res)=> {
                    console.log(res)
                    if(res.status == 200)
                        this.status = 'friends'
                        // new Noty({
                        //     type: 'success',
                        //     layout: 'bottomLeft',
                        //     text: 'Friend request Accepted.'
                        // })
                        this.loading = false
                })

            }
        }
    }
</script>
