<template>
	<div class="">
		
	</div>
</template>

<script>
	export default {

		props:['id'],
		mounted(){
			this.listen()
		},
		methods: {
			listen(){
				Echo.private('App.User.' + this.id)
				.notification( (notification) => {
					alert('new notification')
					console.log(notification)
				})
			}
		}
	}
</script>